.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.drop-zone {
  margin-top: 15px;
}

.drop-zone p {
  width: 500px;
  height: 100px;
  line-height: 100px;
  margin: 20px auto 20px auto;
  border-radius: 10px;
  border: 1px #4b4b4b dashed;
}

button.MuiButtonBase-root.MuiButton-root.cc-button.MuiButton-contained{
  margin: 15px;
}

.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
  margin-bottom: 15px;
}

a {
  color: black;
}
